@charset "UTF-8";


html,
body,
*{
	marign:0px;
	marign-top:0px;
	margin-left:0px;
	margin-right:0px;
	marign-bottom:0px;
}

.wrapper{
	heigth:100%;
	width:100%:
}

.header-wrapper{
	
}

.header-nav-wrapper{
	display:block;
	margin-right:0;
	margin-left:0;
	height: 65px; overflow: visible; top: 0px;
	
}

.box-shadow{
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px;
}


.header-nav{
	border-bottom:0;
}

.header-logo{
	padding-left:20%;
	witdh:30%;
	float:left;
	
}

.headder-logo-link{
		
}



.logo-img{
	height:auto;
}

.header-nav-item-menu-wrapper{
	width:70%;
	float:right;	
}

.header-nav-item-menu{
	text-align:center;
	margin-right:0;
	padding-left:20%;
}

.header-nav-item{
	width:10%;
	float:left;
}

